<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>booting-logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{124,130}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{124,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>booting-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,295}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>booting-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,134},{124,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,37}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>booting_sub_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{247,78}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{247,78}}</string>
                <key>sourceSize</key>
                <string>{257,78}</string>
            </dict>
            <key>booting_title_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,134},{124,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,37}}</string>
                <key>sourceSize</key>
                <string>{124,37}</string>
            </dict>
            <key>by_wht.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,448},{211,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,24}}</string>
                <key>sourceSize</key>
                <string>{211,24}</string>
            </dict>
            <key>channel_360.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{367,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,53}}</string>
                <key>sourceSize</key>
                <string>{367,53}</string>
            </dict>
            <key>channel_7po.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{444,92}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{444,92}}</string>
                <key>sourceSize</key>
                <string>{460,128}</string>
            </dict>
            <key>channel_huanwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,393},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>channel_mi.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,251},{46,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>channel_yunos.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{221,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,34}}</string>
                <key>sourceSize</key>
                <string>{221,34}</string>
            </dict>
            <key>channel_znds.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,173},{117,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,48}}</string>
                <key>sourceSize</key>
                <string>{117,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>splash_sheet.png</string>
            <key>size</key>
            <string>{505,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66af3fa5a679f06d09a15d2a6bc2e1ac:212e91115b93fb050197e0f8bda60138:1503742735b06643d8d3a3c582512ba7$</string>
            <key>textureFileName</key>
            <string>splash_sheet.png</string>
        </dict>
    </dict>
</plist>
